<a href="https://colab.research.google.com/github/2020-nlp-c/nlp-statisticsmodel/blob/master/gmnoh/LSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import randomized_svd
import numpy as np
import copy

In [2]:
doc_ls = ['바나나 사과 포도 포도 짜장면',
          '사과 포도',
          '포도 바나나',
          '짜장면 짬뽕 탕수육',
          '볶음밥 탕수육',
          '짜장면 짬뽕',
          '라면 스시',
          '스시 짜장면',
          '가츠동 스시 소바',
          '된장찌개 김치찌개 김치',
          '김치 된장 짜장면',
          '비빔밥 김치']

In [3]:
class LSA():
    def __init__(self, doc_ls, topic_num):
        self.doc_ls = doc_ls
        self.topic_num = topic_num

    def DTM(self):
        count_vect = CountVectorizer()
        self.dtm = count_vect.fit_transform(self.doc_ls)

        self.words = count_vect.get_feature_names()

    def SVD(self):
        self.U, self.s, self.VT = randomized_svd(self.dtm, n_components=self.topic_num, n_iter=10, random_state=None)
                              
    def topic_modeling(self, word_num):
        self.word_num = word_num
        self.DTM()
        self.SVD()

        self.idx = self.VT.argsort() # 토픽별 단어의 중요도를 오름차순으로 정렬해 인덱스로 저장

        self.topic_words = []
        for topic in self.idx:
            tmp = []
            for word in topic[::-1][:self.word_num]: # 내림차순으로 바꾸고 word_num만큼의 단어 추출
                tmp.append(self.words[word])
            self.topic_words.append(tmp)

        return self.topic_words

In [4]:
lsa = LSA(doc_ls, 4)

In [5]:
import pandas as pd

In [6]:
topic_words = lsa.topic_modeling(4)

pd.DataFrame(topic_words, index = ['topic ' + str(i + 1) for i in range(len(topic_words))],
             columns = [i + 1 for i in range(len(topic_words[0]))])

           1     2     3    4
topic 1   포도   짜장면   바나나   사과
topic 2  짜장면    짬뽕    김치   스시
topic 3   김치  된장찌개  김치찌개  비빔밥
topic 4   스시    김치   가츠동   소바